/* Base styles */
/*
padding: 25px 50px 75px 100px;
top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px 
margin: 25px 50px - 25px to top and bottom, 50px to left and right 
padding: 30px 60px - 30px to top and bottom, 60px to left and right 
*/

/* .App */
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

/* .bank-holiday */
.bank-holiday {
  font-size: small;
}

/* .board-line */
.board-line {
  display: flex;
}

/* .bottom-sticker */
.bottom-sticker {
  background-color: rgb(238, 207, 85);
  border-radius: 100px;
  height: 125px;
  position: absolute;
  right: 0px;
  top: 120px;
  transform: rotate(45deg);
  width: 125px;
  z-index: 10;
}

/* .card */
.card {
  align-items: center;
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  margin: 25px 2px 25px 2px;
  min-height: 350px;
  text-align: center;
  width: 250px;
}

/* .card-display */
.card-display {
  display: flex;
}

/* .component */
.component {
  margin: auto;
  margin-bottom: 25px;
  min-height: 500px;
  padding-bottom: 5px;
  width: fit-content;
}

/* .dark-toggle */
.dark-toggle {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bolder;
  height: 50px;
  left: 5px;
  position: fixed;
  width: 75px;
  z-index: 10;
}

.dark-toggle h3 {
  font-size: small;
  margin-bottom: 0px;
  margin-top: 5px;
}

.dark-toggle input {
  max-height: 30px;
}

.dark-toggle span {
  max-height: 30px;
  max-width: 50px;
  padding: 0, 10px, 0, 10px;
}

/* .delete-button */
.delete-button {
  border-radius: 10px;
  left: 95px;
  opacity: 0.3;
  position: relative;
  width: 30px;
}

.delete-button:hover {
  background-color: darkred;
  border-color: black;
  opacity: 1;
}

/* .dismiss-button */
.dismiss-button {
  border: 0;
  border-radius: 10px;
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.dismiss-button:hover {
  background-color: darkred;
  border-color: black;
  opacity: 2;
}

/* .display-component */
.display-component {
  margin: 25px;
  min-width: 500px;
  padding-bottom: 10px;
}

/* .display-game */
.display-game {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* .display-joke */
.display-joke {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* .display-quote */
.display-quote {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* .filter-sort */
.filter-sort {
  min-width: 250px;
}

/* .form */
.form {
  height: fit-content;
  margin: 5px;
}

/* .form-field */
.form-field {
  flex-direction: column;
  margin-top: 10px;
  width: 85%;
}

/* .game-board */
.game-board {
  align-items: center;
  background-color: burlywood;
  display: grid;
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

.google-calendar {
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.google-calendar-title {
  margin: 5px;
}

.google-calendar-display {
  margin: 5px;
}

/* .loading */
.loading {
  opacity: 0.1;
  z-index: 1;
}

/* .loading-img-container */
.loading-img-container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* .loadingComplete */
.loadingComplete {
  opacity: 1;
  position: relative;
  z-index: 2;
}

/* .nav-bar */
.nav-bar {
  min-height: 53px;
}

/* .nav-bar img */
.nav-bar img {
  height: 50px;
  width: 50px;
}

/* .note-component */
.note-component {
  display: block;
  margin: 0 5% 0 5%;
  padding: 2.5%;
}

/* .note-done */
.note-done {
  text-decoration: line-through;
}

/* .note-edit */
.note-edit {
  font-weight: bold;
  padding-top: 25px;
}

/* .note-task */
.note-task {
  height: min-content;
  transition: height 0.5s ease-in-out, font-weight 0.5s ease-in-out;
}

.note-task:hover {
  cursor: pointer;
  font-weight: bolder;
  height: max-content;
  padding-top: 0;
}

/* .note-title */
.note-title {
  height: fit-content;
}

/* .page */
.page {
  position: relative;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
}

.recipe-component {
  font-size: larger;
}

.recipe-component img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.recipe-component ul {
  position: relative;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
  text-align: left;
}

.recipe-display {
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.recipe-instructions li {
  width: fit-content;
  padding-bottom: 20px;
}

.recipe-instructions ul {
  width: fit-content;
  padding: 0px;
}

.recipe-header {
  margin: 0 auto;
  margin-bottom: 10px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

/* .scroll-button */
.scroll-button {
  bottom: 20px;
  position: fixed;
  right: 5%;
  z-index: 10;
}

/* .switch */
.switch {
  align-items: center;
  display: inline-flex;
  font-size: x-small;
  height: 40px;
  width: min-content;
}

/* .switch-container */
.switch-container {
  align-items: center;
}

/* .switch h1 */
.switch h1 {
  font-size: 2em;
  padding: 5px;
}

/* .switch svg */
.switch svg {
  height: 90%;
  padding: 5% 0 0 10%;
  width: 90%;
}

/* .text-box */
.text-box {
  border-right: 1px solid black;
  font-size: larger;
  padding: 5px 5px 0 5px;
  vertical-align: middle;
}

/* .tic-tac-box */
.tic-tac-box {
  border: 2px dashed black;
  height: 75px;
  margin: 0.5px;
  width: 75px;
}

.tic-tac-box:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.tile-selected {
  background-color: darkgoldenrod;
}

/* .top-sticker */
.top-sticker {
  background-color: rgb(238, 207, 85);
  border-radius: 112.5px;
  height: 150px;
  position: absolute;
  right: 125px;
  top: 0px; 
  transform: rotate(45deg);
  width: 150px;
  z-index: 11;
}

/* .weather-component */
.weather-component {
  margin: 25px;
  min-width: 500px;
  padding: 10px;
}

/* .weather-search h1 */
.weather-search h1 {
  margin: 10px 0 10px 0;
}

/* .weather-table */
.weather-table {
  display: block;
  margin: auto;
  padding: 2.5%;
}

/* .weather-table img */
.weather-table img {
  height: 40px;
  width: 40px;
}

/* .weather-table td */
.weather-table td {
  border: 1px solid;
  border-color: black;
  width: 50px;
}

/* .wordsearch-box */
.wordsearch-box {
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.wordsearch-box:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.word-strikethrough {
  text-decoration-line: line-through;
}
