.App-light {
  background-color: #FFC4C5;
}
.App-dark {
  background-color: #B3898A;
}

.component-light {
  background-color: #FAD7CF;
}
.component-dark {
  background-color: #B36266;
}

.display-component-light {
  background-color: #AA85E6;
}
.display-component-dark {
  background-color: #7F63AB
}

/* .page-light {
  background-color: #B8FFCD;
}
.page-dark {
  background-color: #81B390;
} */
